@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --accent: #0d9488;
  --accent-hover: #0f766e;
  
  --bored: #e4e4e7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
